body {
  font-family: "Apple Chancery", "URW Chancery L", cursive;
  background-color: #FFF8EA;
  color: #402E32;
}

 * {
  box-sizing: border-box;
  font-size: 100%;
}

h1 {
  font-size: 200%;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}

div.row {
  display: flex;
  float: left;
  width: 100%;
  flex-wrap: wrap;
}

div.section {
  position: relative;
  background-color: #C8A16D;;
  border: 1px solid black;
  padding: 19px;
  
}

div.section-title {
  box-sizing: content-box;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  font-weight: 600;
  width: 150px;
  font-size: 175%;
  top: -1px;
  right: -1px;
  padding: 2px;
}

div.chicken-section {
  background-color: #EADBBB;
}

div.beef-section {
  background-color: #6E6154;
  color: #FFF8F0; 

}

div.sushi-section {
  background-color: #FFF9EC;
}

p {
  position: relative;
  margin-top: 30px;
  margin-bottom: auto;
  font-weight: 300;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 30%;
    margin: 1.66%;
    margin-top: 50px;
    height: 171px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 46%;
    margin: 2%;
  }
  .col-md-12 {
    float: left;
    width: 96%;
    margin: 2%;
  }
}

@media (max-width: 767px) {
  .col-sm {
    margin: 20px;
  }
}